@code {
    [CascadingParameter] HttpContext HttpContext { get; set; } = default!;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["bootstrap/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BlazorSample.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="(HttpContext.AcceptsInteractiveRouting() is false ? null : new InteractiveWebAssemblyRenderMode(prerender:false))" />
</head>

<body>
    <Routes @rendermode="(HttpContext.AcceptsInteractiveRouting() is false ? null : new InteractiveWebAssemblyRenderMode(prerender:false))" />
    <BlazorSample.Client.Components.WasmStarter @rendermode="new InteractiveWebAssemblyRenderMode(prerender:false)" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
